// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$primary: #223a47;
$primary-300: #5da0aa;
$seconday: #f27257;
$seconday-300: #ffb5a6;

$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.25;
  height: 8000px;
}

.button {
  font-size: 1.5em;
  padding: 0.5em 1em;
  background: $primary;
  color: white;
  border: 2px dashed white;
  border-radius: 0.25em;
  transition: ease 0.25s all;
  font-family: "Fredericka the Great";
  cursor: pointer;
  position: relative;
  display: inline-block;
    padding-right: 2em;
 
  i {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    background: $primary-300;
    text-decoration: none;
  }
  @media (max-width: $xl) {
    font-size: 20px;
  }
  @media (max-width: $md) {
    
  }
}

.reservation-btn {
  font-family: "Fredericka the Great";
  font-size: 38px;
  border: 1px dotted $seconday;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  transition: 0.25s ease all;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: $seconday;
    color: white;
  }
  @media (max-width: $lg) {
    font-size: 18px;
  }
  @media (max-width: $md) {
    display: none;
    &.mobile {
      display: block;
      margin-top: 10px;
    }
  }
}

.mobile-logo-holder {
  text-align: center;
  display: none;
  @media (max-width: $md) {
    display: block;
  }
  img {
    width: 66%;
    margin-top: 10px;
    margin-bottom: 10px;
    @media (max-width: $sm) {
      width: 85%;
    }
  }
}

#wrapper-navbar {
  position: relative;
  z-index: 2000;
  margin-bottom: -360px;
  @media (max-width: $xl) {
    margin-bottom: -240px;
  }
  @media (max-width: $lg) {
    margin-bottom: 0px;
  }

  .top-header-holder {
    height: 260px;
    // background: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: $lg) {
      height: auto;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media (max-width: $md) {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .navbar-toggler {
      display: none;
      @media (max-width: $lg) {
        display: block;
      }
      padding: 0em 1em;
      padding-top: 1em;
      &:hover {
        background: rgba(#5da0aa, 0.5);
      }
      .bar {
        height: 4px;
        border-radius: 4px;
        background: rgba(#5da0aa, 0.5);
        margin-bottom: 4px;
        width: 2.5em;
      }
      .menu-title {
        font-size: 14px;
        margin-top: 2.5em;
        text-transform: uppercase;
        font-weight: 600;
      }
      &.md-view {
        display: none;
      }
      @media (max-width: $md) {
        display: none;
        &.md-view {
          display: flex;
          padding: 0.5em;
          padding-bottom: 0.5em;
          align-items: center;
          margin: -0.5em;
          .menu-title {
            margin-top: 0px;
            margin-right: 0.5em;
            font-size: 18px;
          }
          .bar {
            height: 3px;
            border-radius: 3px;
            background: rgba(#5da0aa, 0.5);
            margin-bottom: 3px;
            width: 1em;
          }
        }
      }
    }

    .container {
      .logo-holder {
        display: block;

        img {
          width: 275px;
          @media (max-width: $lg) {
            width: 225px;
          }
        }
        @media (max-width: $md) {
          display: none;
        }
      }

      .col-6 {
        @media (max-width: $md) {
          text-align: center;
        }
      }

      .social-media-holder,
      .social-media-holder-tablet {
        font-size: 50px;
        a {
          color: $seconday;
          text-decoration: none;
          &:hover {
            color: darken($seconday, 15%);
          }
        }

        @media (max-width: $lg) {
          display: none;
        }

        &.social-media-holder-tablet {
          display: none;
          @media (max-width: $lg) {
            display: inline-block;
            font-size: 18px;
          }
          @media (max-width: $md) {
            display: none;
          }
        }
      }
      .contact-holder {
        font-size: 18px;
        font-weight: 600;
        @media (max-width: $md) {
          display: flex;
          justify-content: space-between;
        }
        a {
          display: inline-block;
          margin-right: 1em;
          margin-bottom: 1em;
          @media (max-width: $lg) {
            margin-right: 0.5em;
            margin-bottom: 0.5em;
          }
          @media (max-width: $md) {
            margin-right: 0em;
            margin-bottom: 0em;
          }
          color: $primary;
          .fa {
            color: $seconday;
          }
        }
        @media (max-width: $lg) {
          font-size: 16px;
          .address {
            display: none;
          }
        }
        @media (max-width: $lg) {
          font-size: 18px;
        }
      }
    }
  }

  #main-nav {
    border-top: 1px solid rgba(#5da0aa, 0.5);
    border-bottom: 1px solid rgba(#5da0aa, 0.5);
    padding: 0px;
    @media (max-width: $md) {
      border-top: 0px;
    }
    ul {
      flex: 1;
      justify-content: space-between;
      li {
        a {
          font-weight: 600;
          font-size: 22px;
          text-transform: uppercase;
          padding: 1.5em 0.5em;
          @media (max-width: $xl) {
            font-size: 20px;
            padding: 1em 0.33em;
          }
        }
        &.current_page_item {
          a {
            color: $seconday;
          }
        }
      }
    }
  }
}

.home-banner {
  height: 1080px;

  background-image: url("../img/home-banner.png");
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 115px;
  @media (max-width: $xl) {
    padding-bottom: 100px;
  }
  @media (max-width: $lg) {
    padding-bottom: 75px;
    background-position: bottom center;
  }
  @media (max-width: $md) {
    padding-bottom: 60px;
  }
  position: relative;

  &:before {
    content: "";
    height: 230px;
    display: block;
    background: linear-gradient(to top, rgba(white, 0), rgba(white, 0.1));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: $xl) {
      height: 200px;
    }
    @media (max-width: $lg) {
      height: 150px;
    }
    @media (max-width: $md) {
      height: 125px;
    }
  }

  &:after {
    content: "";
    height: 230px;
    display: block;
    background: linear-gradient(to bottom, rgba(white, 0), rgba(white, 1));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: $xl) {
      height: 200px;
    }
    @media (max-width: $lg) {
      height: 150px;
    }
    @media (max-width: $md) {
      height: 125px;
    }
  }
  @media (max-width: $lg) {
    background-position: top -350px center;
    height: 650px;
  }
  @media (max-width: $md) {
    height: 450px;
  }
  @media (max-width: $sm) {
    height: 300px;
  }
  h1 {
    font-size: 100px;
    font-family: "Fredericka the Great";
    position: relative;
    z-index: 1000;
    @media (max-width: $xl) {
      font-size: 90px;
    }
    @media (max-width: $lg) {
      font-size: 72px;
    }
    @media (max-width: $md) {
      font-size: 48px;
    }
    @media (max-width: $sm) {
      font-size: 36px;
    }
  }
}

.home-call-to-action {
  @media (max-width: $md) {
    text-align: center;
  }
  .call-to-action {
    border-radius: 50%;
    background: $seconday;
    padding-bottom: 100%;
    position: relative;
    display: block;
    @media (max-width: $md) {
      width: 66%;
      padding-bottom: 66%;
      display: inline-block;
      margin-bottom: 10px;
    }
    @media (max-width: $sm) {
      width: 85%;
      padding-bottom: 85%;
      display: inline-block;
    }

    .image {
      background-image: url("../img/call-to-action-1.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;
      bottom: 30px;
      border-radius: 50%;
      transition: ease 0.25s all;
      opacity: 0.85;
      @media (max-width: $xl) {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
      }
    }

    .title {
      font-size: 25px;
      position: absolute;
      bottom: 45px;
      left: 50%;
      right: -15px;
      padding: 0.5em;
      background: $primary-300;
      color: white;
      border: 2px dashed white;
      border-radius: 0.25em;
      text-align: center;
      transition: ease 0.25s all;
      font-family: "Fredericka the Great";
      @media (max-width: $xl) {
        font-size: 20px;
      }
      @media (max-width: $lg) {
        left: 0%;
        right: 0%;
        bottom: -10%;
      }
      @media (max-width: $md) {
        bottom: 45px;
        left: 50%;
        right: -15px;
      }
    }

    &.second {
      background-image: url("../img/call-to-action-2.png");
      background: $primary-300;
      .title {
        background: $primary;
      }
    }

    &.third {
      background-image: url("../img/call-to-action-3.png");
      background: $primary;
      .title {
        background: $seconday;
      }
    }

    &:hover {
      .title {
        left: 0%;
        background: rgba(white, 0.85);
        color: $primary;
      }
      .image {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        opacity: 1;
      }
    }
  }
}

.home-welcome {
  margin-top: 120px;
  margin-bottom: 120px;
  @media (max-width: $md) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media (max-width: $sm) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .title-holder {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba($primary-300, 0.5);
    @media (max-width: $md) {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    @media (max-width: $sm) {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  }

  h2 {
    line-height: 1;
    span {
      font-family: "Pacifico";
      font-size: 160px;
      display: block;
      color: $seconday-300;
      transform: translate(140px, 30px);
      @media (max-width: $lg) {
        font-size: 120px;
        transform: translate(120px, 25px);
      }
      @media (max-width: $md) {
        font-size: 60px;
        transform: translate(60px, 0px);
      }
      @media (max-width: $sm) {
        font-size: 60px;
        transform: translate(30px, 0px);
      }
    }
    font-family: "Fredericka the Great";
    font-size: 72px;
    @media (max-width: $xl) {
      font-size: 60px;
    }

    @media (max-width: $lg) {
      font-size: 36px;
    }
  }
  p {
    line-height: 2;
    margin-bottom: 1em;
    font-weight: 300;
    &.tagline {
      font-size: 24px;
      color: $primary-300;
      font-weight: 600;
      line-height: 1.5;
      @media (max-width: $lg) {
        font-size: 18px;
      }
    }
  }

  
}

.home-news {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  h2 {
      font-family: 'Fredericka the great';
      font-size: 60px;
      margin-bottom: 0.5em;
      color: $seconday
  }
  p{
      line-height: 2;
      font-weight: 300;
  }
  .bg-image {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/news-bg.png);
    opacity: 0.5;
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 200px;
      bottom: 0;
      top: 0;
      right: 0;
      background: white;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 200px;
      bottom: 0;
      top: 0;
      right: 0;
      background: linear-gradient(to bottom, transparent, white);
    }
  }

  .news-img {
    @media (max-width: $md) {
        text-align: center;
      }
      
        border-radius: 50%;
        background: $primary;
        padding-bottom: 100%;
        position: relative;
        display: block;
        @media (max-width: $md) {
          width: 66%;
          padding-bottom: 66%;
          display: inline-block;
          margin-bottom: 10px;
        }
        @media (max-width: $sm) {
          width: 85%;
          padding-bottom: 85%;
          display: inline-block;
        }
    
        .image {
          background-image: url("../img/news-placeholder.png");
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          top: 30px;
          left: 30px;
          right: 30px;
          bottom: 30px;
          border-radius: 50%;
          transition: ease 0.25s all;
          opacity: 0.85;
          @media (max-width: $xl) {
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
          }
        }

        
    
        .date, .category {
          font-size: 25px;
          position: absolute;
          bottom: 15px;
          left: 50%;
        transform: translateX(50%);
          padding: 0.5em 1.5em;
          background: $primary-300;
          color: white;
          border: 2px dashed white;
          border-radius: 0.25em;
          text-align: center;
          transition: ease 0.25s all;
          font-family: "Fredericka the Great";
          @media (max-width: $xl) {
            font-size: 20px;
          }
          &.category {
              bottom: initial;
              top: 15px;
              background: $seconday;
          }
         
        }
    
        &:hover {
          .title {
      
            background: rgba(white, 0.85);
            color: $primary;
          }
          .image {
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            opacity: 1;
          }
        }
      }

      .button {
          margin-top: 50px;
          @media(max-width: $lg){
              margin-top: 40px
          }
          @media(max-width: $md){
              margin-top: 30px
          }
      }
  }

